.about {
  width: 100%;
  height: 100vh;
  background-color: black;
  transition: 0.8s;
  overflow: hidden;
  text-transform: uppercase;
}
.hidden {
  visibility: hidden;
  opacity: 0;
}
.intro {
  position: fixed;
  background-color: #f2f2f2;
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100%;
  z-index: 5;
}
.intro__title {
  letter-spacing: 10px;
  color: rgb(255, 57, 57);
  font-size: 7vmax;
  width: 80%;
  text-align: center;
  z-index: 2;
  transform: translateY(60px);
}

.intro__background {
  position: absolute;
  top: 0;
  background-color: black;
  width: 50%;
  height: 100%;
  transform: scaleX(0);
}
.intro__background__left {
  left: 0;
  transform-origin: left center;
}

.intro__background__right {
  left: 50%;
  transform-origin: right center;
}

.about svg {
  position: absolute;
  width: 100%;
  height: 100vh;
}
.about svg text {
  font-family: "Bebas Neue", cursive;
  fill: none;
  stroke: rgba(255, 0, 0, 0.116);
  font-size: 35vmax;
  letter-spacing: -3px;
  stroke-width: 14;
}
.aboutWrap {
  display: flex;
  margin: 15vh auto auto auto;
  width: 90%;
  overflow: hidden;
  height: 80vmin;
  position: relative;
}
.left {
  color: whitesmoke;
  left: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: auto;
}
.greeting {
  position: relative;
  font-size: 2vmax;
}
.greeting span {
  padding: 3% 3%;
  mix-blend-mode: difference;
  position: absolute;
  display: block;
  letter-spacing: 0.2rem;
}
.develop {
  mix-blend-mode: difference;
  position: relative;
}
.text {
  mix-blend-mode: difference;
  position: absolute;
  top: 0;
  font-size: 4.5vmax;
}
.text p {
  opacity: 0;
}
.name {
  mix-blend-mode: difference;
  left: 9vw;
  font-size: 4.5vmax;
  animation: fadeIn 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation-delay: 6s;
  z-index: 5;
}
.name__text {
  padding-top: 2rem;
  display: inline-block;
  position: relative;
  font-size: 4.5vmax;
  letter-spacing: 0.3rem;
}
.name__text svg {
  fill: none;
  stroke: red;
  stroke-width: 3;
  stroke-miterlimit: 10;
  stroke-dasharray: 338;
  stroke-dashoffset: 338;
  stroke-linecap: round;
  position: absolute;
  top: 65%;
  left: 50%;
  width: calc(95% + 50px);
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: stroke-dashoffset 0s 0.2s, opacity 0.2s;
  z-index: 2;
}
.about:hover .name__text svg {
  stroke-dashoffset: 0;
  opacity: 1;
  transition: opacity 0s,
    stroke-dashoffset 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.right {
  mix-blend-mode: difference;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  top: -8vh;
  width: 100%;
  height: 100%;
  text-align: right;
  font-size: 2vmax;
  color: #f2f2f2;
}
.doing__wrap {
  font-size: 2vmax;
}

.love__wrap span,
.iam__wrap span {
  display: inline-block;
}
.typing__love,
.typing__iam {
  color: rgb(73, 73, 73);
}
.love__wrap .cursor,
.iam__wrap .cursor {
  display: inline-block;
  background-color: #f2f2f2;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.love__wrap .cursor.typing,
.iam__wrap .cursor.typing {
  animation: none;
}

@keyframes blink {
  0% {
    background-color: #f2f2f2;
  }
  49% {
    background-color: #f2f2f2;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #f2f2f2;
  }
}
@keyframes fadeIn {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/* @media screen and (max-width: 1024px) {
  .aboutWrap {
    max-height: 40rem;
  }
  .about svg {
    max-height: 50rem;
  }
} */
