.contact {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.contact svg {
  position: absolute;
  width: 100%;
  height: 100vh;
}
.contact svg text {
  font-family: "Bebas Neue", cursive;
  fill: none;
  stroke: rgba(255, 0, 0, 0.116);
  font-size: 35vmax;
  letter-spacing: -3px;
  stroke-width: 14;
  transform: matrix(1, 0, 0, 1, 10, 0);
}
.contact__wrap {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 90%;
  height: 100%;
  margin: 0 auto;
}
.contact__skills {
  display: grid;
  place-items: center;
  cursor: default;
  height: 70%;
  width: 30%;
  margin-top: 5%;
}
.contact__skills p {
  margin-left: -5%;
  text-transform: uppercase;
  color: black;
  font-size: 5vmax;
}
.skills__list {
  display: grid;
  place-items: center;
  text-transform: uppercase;
}
.skills__list li {
  display: flex;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 5px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  line-height: 1.2;
  font-size: 4.5vmax;
  -webkit-text-stroke: 1px black;
  background-repeat: no-repeat;
  background-image: linear-gradient(
    0deg,
    black 0%,
    black 50%,
    transparent 50.1%
  );
  background-position: 100% 100%;
}
.skills__list li:first-child {
  background-size: 100% 200%;
}
.skills__list li:nth-child(2) {
  background-size: 100% 200%;
}
.skills__list li:nth-child(3) {
  background-size: 100% 130%;
}
.skills__list li:last-child {
  background-size: 100% 110%;
}
.skills__list li:hover {
  background-image: linear-gradient(
    0deg,
    rgb(255, 0, 0) 0%,
    rgb(255, 0, 0) 50%,
    transparent 50.1%
  );
}
.skills__list li span {
  place-self: center end;
  font-size: 2vmax;
}
small {
  font-size: 1vmax;
}
.contact__email {
  display: grid;
  place-items: end;
}
.contact__email h2 {
  text-align: right;
  font-size: 6vmax;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1.5px black;
}
.contact__email h2 strong {
  font-size: 7vmax;
  line-height: 0.9;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-repeat: no-repeat;
  background-image: linear-gradient(0deg, red 0%, red 50%, transparent 50.1%);
  background-position: 100% 100%;
  background-size: 100% 200%;
}
.email {
  background: linear-gradient(-45deg, #305c70, #282aac, #001b6b, #009bcf);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  border-radius: 50px;
  display: inline-block;
  align-self: center;
}
.email a {
  padding: 0.5rem 2rem;
  display: inline-block;
  font-size: 2rem;
  color: black;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.gmail {
  color: rgb(102, 102, 102);
  position: relative;
  top: -1rem;
  right: 1rem;
  cursor: pointer;
  align-self: start;
}
