.work {
  width: 100%;
  height: 130vh;
  max-height: 130vh;
  text-transform: uppercase;
}
.work__tag {
  text-transform: capitalize;
  position: sticky;
  top: 0;
  font-size: 3rem;
  color: red;
  writing-mode: vertical-lr;
  transform: rotate(180deg) translateY(100%);
  transition: 0.5s;
  z-index: -1;
}
.workWrap {
  margin: 0 auto;
  width: 90%;
  height: 130vh;
  display: flex;
}
.titles {
  width: max-content;
  height: 130vh;
  position: relative;
  mix-blend-mode: difference;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  font-size: 4rem;
  perspective: 10000px;
}
.titlewrap {
  margin-bottom: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  transition: 1s;
}
.titlewrap h2 {
  color: white;
  opacity: 0.2;
  position: absolute;
  top: -1rem;
  left: -1rem;
}
.title {
  cursor: pointer;
  margin: 0 auto;
}
.clicked {
  transform: translate3d(0, 0, 800px);
  transition: 1s;
  transition-delay: 1s;
}
.flip {
  transition: 1s;
  opacity: 0;
  transform: rotateX(90deg);
}
.small {
  opacity: 0.3;
  margin: -0.5rem 0 0 0.2rem;
  font-size: 1rem;
}
.mouse {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  z-index: 50;
  pointer-events: none;
  position: fixed;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #f2f2f2;
  color: rgb(255, 0, 0);
  font-weight: bold;
  mix-blend-mode: difference;
}

.work__detail {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
  top: -7rem;
  background-repeat: no-repeat;
  background-image: radial-gradient(
    circle farthest-corner at center center,
    #fff 0%,
    #fff 65%,
    transparent 50.1%
  );
  background-position: center center;
  background-size: 0% 0%;
  transition: background-size 0.7s cubic-bezier(0.67, 0.01, 0.15, 0.98);
  transition-delay: 1s;
  overflow: hidden;
  border-bottom-left-radius: 60% 90%;
  border-bottom-right-radius: 60% 90%;
}

.showbg {
  background-size: 100% 100%;
}
.devices {
  opacity: 0;
  position: absolute;
  top: 5rem;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.5s;
  transition-delay: 1s;
  font-size: 2rem;
  z-index: 4;
}
.showDevicesSpan {
  opacity: 1;
}
.devices span {
  color: rgb(134, 134, 134);
  position: relative;
  cursor: pointer;
}
.monitor {
  transform: translateY(200%);
  transition: 1s;
  transition-delay: 1s;
  margin: 0 auto;
  width: 80%;
}
.screen {
  display: block;
  background: #000;
  border-radius: 3%;
  margin: 0 auto;
  position: relative;
  width: 90%;
  height: 30vw;
  border: 5px solid #cacacc;
}
.viewport {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  margin: 4%;
  background: #333;
  background-repeat: no-repeat;
}
.neck {
  margin: 0 auto;
  height: 3rem;
  width: 5rem;
  background: black;
}
.base {
  position: relative;
  margin: 0 auto;
  width: 50%;
  height: 1rem;
  background-color: #000;
  box-shadow: 0 0.5rem 2em 0.2em rgba(0, 0, 0, 0.33), 0 0 0 0.5px #000 inset;
  /* background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.5),
      rgba(71, 71, 71, 0.8) 0.5%,
      rgba(0, 0, 0, 0.4) 3.3%,
      transparent 15%,
      rgba(77, 76, 76, 0.8) 50%,
      transparent 85%,
      rgba(0, 0, 0, 0.4) 96.7%,
      rgba(94, 94, 94, 0.8) 99.5%,
      rgba(0, 0, 0, 0.5) 100%
    ); */
}

.monitor .viewport {
  transition: background-position 3s ease;
  background-position: 0 0;
  background-size: 100% auto;
  overflow: hidden;
  cursor: pointer;
}
.monitor:hover .viewport {
  background-position: 0 100%;
}
.ipad {
  transform: translateY(200%);
  position: absolute;
  width: 25vw;
  height: 35vw;
  display: block;
  border: 16px solid #111;
  border-radius: 2rem;
  box-shadow: 0 0.5em 2em 0.2em rgba(0, 0, 0, 0.33), 0 0 0 0.5px #000 inset;
  transition: 1s;
  transition-delay: 1s;
  overflow: hidden;
}
.iphone {
  transform: translateY(200%);
  position: absolute;
  width: 18vw;
  height: 35vw;
  display: block;
  border: 16px solid #111;
  border-radius: 2rem;
  box-shadow: 0 0.5em 2em 0.2em rgba(0, 0, 0, 0.33), 0 0 0 0.5px #000 inset;
  transition: 1s;
  transition-delay: 1s;
  overflow: hidden;
}

.iphone__screen {
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.iphone__screen::-webkit-scrollbar {
  display: none;
}
.iphone__img {
  width: 100%;
  margin-bottom: -1rem;
}
.showDevices {
  transform: translateY(0%);
}
#mobile svg,
#pad svg {
  cursor: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 100%;
  transform: translate(-50%, -50%);
}

#pad svg path:last-child,
#mobile svg path:last-child {
  stroke: red;
  opacity: 0;
  stroke-width: 13;
  fill: none;
  stroke-dasharray: 1500;
}
.pathLast {
  animation: line-dash 10s;
  animation-delay: 1s;
}

#pad svg path:first-child,
#mobile svg path:first-child {
  stroke: red;
  stroke-width: 13;
  fill: none;
  opacity: 0;
  stroke-dasharray: 1500;
}
.pathFirst {
  animation: line-dash 10s;
  animation-delay: 1.5s;
}

@keyframes line-dash {
  0% {
    stroke-dasharray: 0 1500;
    opacity: 1;
  }
  15% {
    stroke-dasharray: 1500 1500;
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1200px) {
  .small {
    font-size: 0.7rem;
  }
  .titles {
    font-size: 2.5rem;
  }
  .devices span {
    font-size: 1.2rem;
  }
  .work__tag {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1300px) {
  .small {
    font-size: 0.7rem;
  }
  .titles {
    font-size: 3rem;
  }
  .devices span {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1700px) {
  .work__tag {
    font-size: 4rem;
  }
  .small {
    font-size: 1.3rem;
  }
  .titles {
    font-size: 5rem;
  }
}
