@import "css/reset.css";
@import "css/nav.css";
@import "css/about.css";
@import "css/work.css";
@import "css/contact.css";
@import url("https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@500&family=Megrim&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");

html {
  background-color: #f2f2f2;
  font-size: 16px;
  font-family: "Kaisei Tokumin", serif;
}
html::-webkit-scrollbar {
  display: none;
}
.scroller {
  height: 100vh;
}
.mobile {
  display: none;
}
@media screen and (max-width: 1024px) {
  html {
    height: 100%;
    overflow: hidden;
    text-align: center;
  }
  .aboutWrap {
    display: none;
  }
  .work {
    display: none;
  }
  .contact {
    display: none;
  }
  .menu {
    display: none;
  }
  .scroll {
    display: none;
  }
  .mobile {
    margin-top: 10rem;
    font-size: 2rem;
    display: block;
    color: #f2f2f2;
  }
  .intro {
    display: none;
    position: none;
  }
  svg {
    display: none;
  }
  nav {
    display: none;
  }
}
